auto
constexpr
for_auto2
for_range
functor_template.cpp
functor_wrapper
functor_wrapper2
lambda
move
move2
move_fail
move_fail.cpp
move_fail_default.txt
move_fail_noexept.txt
move_vector_mystring
opencv_point_move
opencv_point_move.cpp
pod_init_etc
random
regex
right_angle
